<%= content_tag :div, class: "temp_information", data: {prod: @prod_avg, unprod: @unprod_avg, sleep: @sleep_avg, happy: @happy_avg, floored_number: @floored_number} do %>
<% end %>
<script type="text/javascript">
  let prod_avg = (($('.temp_information').data('prod'))/100)
  let unprod_avg = (($('.temp_information').data('unprod'))/100)
  let sleep_avg = (($('.temp_information').data('sleep'))/100)
  let prod_time = prod_avg
  let unprod_time = unprod_avg
  let sleep_time = sleep_avg
  let happy_avg = (($('.temp_information').data('happy')))
  let happycount = happy_avg
</script>


<% if user_signed_in? %>

<p>Happy level: <span id="fun-level" style="font-size: 0px; position: absolute">0 %</span> </p>

<div class="chart_area">
  <div id="happy_chart" style="height:310px; width:620px; margin-bottom:100px">
    <div class="rainbow" style="position: absolute">

    </div>
  </div>
</div>

<div class="chart_area">

  <div class="barcontain">
    <b>Productive Time</b>

    <div class="progress" id='prod_time_chart'></div>
  </div>

  <div class="barcontain">
    <b>Unproductive Time</b>
    <div class="progress" id="unprod_time_chart"></div>
  </div>

  <div class="barcontain">
    <b>Sleep Time</b>
    <div class="progress" id="sleep_time_chart"></div>
  </div>

</div>





<script type="text/javascript">


$('#rainbow').loadgo('setprogress', (happycount));

</script>

<% else %>
<h2 style="color:white">Sign in to see your progress!</h2>
<% end %>
