<% @slacks.each do |slack| %>
  <div class="slack-list-item">
<%= slack.created_at.strftime("%B %d, %Y %a")  %>
<%= (pie_chart [['productive time', slack.prod_time],['unproductive time', slack.unprod_time],['sleep time', slack.sleep_time]]) %>
  </div>
<% end %>
