body {
  // background-image: url("doodles.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  background-attachment: fixed;
}

div {
opacity: .95;
}

nav {
  background-color: inherit;
  opacity: .6;
}

.form {
  margin-top: 0px;
  text-align: center;
}

.label {
  // font-weight: bold;
  color: black;
  text-shadow: 2px 2px 3px #000000;
}

.form-control {
  width:25%;
  display: inline-block;
  opacity: .7
}

.chart_area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: black;
}

// .loadgo-overlay {
//   background-color: rgba(255, 255, 255, .2);
// }
